<h2>Cadastrar</h2>

<form #curriculoForm="ngForm">
  <label for="">ID</label>
  <input type="text" name="id" [(ngModel)]="curriculo.id"> <br>

  <label for="">Nome</label>
  <input type="text" name="nome" [(ngModel)]="curriculo.nome" required> <br>

  <label for="">Formação</label>
  <input type="text" name="formacao" [(ngModel)]="curriculo.formacao"> <br>

  <label for="">Experiência</label>
  <input type="text" name="experiencia" [(ngModel)]="curriculo.experiencia"> <br>

  <label for="">Habilidades</label>
  <input type="text" name="habilidades" [(ngModel)]="curriculo.habilidades"> <br>

  <label for="">Linkedin</label>
  <input type="text" name="linkedin" [(ngModel)]="curriculo.linkedin"> <br>

  <!-- Botões com lógica condicional opcional -->
  <button type="button" (click)="cadastrarCurriculo()" *ngIf="!curriculo.id">Cadastrar curriculo</button>
  <button type="button" (click)="atualizarCurriculo(curriculo.id)" *ngIf="curriculo.id">Atualizar curriculo</button>
  <button type="button" (click)="excluirCurriculo(curriculo.id)" *ngIf="curriculo.id">Excluir curriculo</button>
</form>

<section class="listar-curriculos">
  <table class="table">
    <thead>
      <tr>
        <th>Código do Curriculo</th>
        <th>Curriculo</th>
        <th>Formação</th>
        <th>Experiência</th>
        <th>Habilidades</th>
        <th>Linkedin</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr class="curriculo-row" *ngFor="let c of curriculos">
        <td>{{ c.id }}</td>
        <td>{{ c.nome }}</td>
        <td>{{ c.formacao }}</td>
        <td>{{ c.experiencia }}</td>
        <td>{{ c.habilidades }}</td>
        <td>{{ c.linkedin }}</td>
        <td>
          <button class="btn-listar" type="button" (click)="listarCurriculoPorId(c.id)">Editar</button>
        </td>
      </tr>
    </tbody>
  </table>
</section>
