<h2>Cadastrar</h2>

<!-- formulário para mostrar vága selecionada -->
<form action="">
  <label for="">ID</label>
  <input type="text" [(ngModel)]="curriculo.id"> <br>

  <label for="">Nome</label>
  <input type="text" [(ngModel)]="curriculo.nome"> <br>

  <label for="">Formação</label>
  <input type="text" [(ngModel)]="curriculo.formacao"> <br>

  <label for="">Experiência</label>
  <input type="text" [(ngModel)]="curriculo.experiencia"> <br>

  <label for="">Habilidades</label>
  <input type="text" [(ngModel)]="curriculo.habilidades"> <br>

  <label for="">Linkedin</label>
  <input type="text" [(ngModel)]="curriculo.linkedin"> <br>

  <button type="button" (click)="cadastrarCurriculo()">Cadastrar curriculo</button>
  <button type="button" (click)="atualizarCurriculo(curriculo.id)">Atualizar curriculo</button>
  <button type="button" (click)="excluirCurriculo(curriculo.id)">Excluir curriculo</button>

</form>

<!-- Tabela com as vagas já cadastradas -->
<section class="listar-curriculos">
  <table class="table">
    <thead>
      <tr>
        <th>Código do Curriculo</th>
        <th>Curriculo</th>
        <th>Formação</th>
        <th>Experiência</th>
        <th>Habilidades</th>
        <th>Linkedin</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr class="curriculo-row" *ngFor="let curriculo of curriculos">
        <td>{{curriculo.id}}</td>
        <td>{{curriculo.nome}}</td>
        <td>{{curriculo.formacao}}</td>
        <td>{{curriculo.experiencia}}</td>
        <td>{{curriculo.habilidades}}</td>
        <td>{{curriculo.linkedin}}</td>
        <td>
          <button class="btn-listar" type="button" (click)="listarCurriculoPorId(curriculo)">Listar</button>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<div class="rodape"></div>
